/*****************************/
/* GENERAL REUSEABLE COMPONENTS*/
/*****************************/
.cover-img {
  width: 100%;
}

.case-name {
  font-size: 4.4rem;
  font-weight: 400;
  margin-top: 2rem;
  text-align: center;
}

.sub-names {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 2.8rem;
}

.sub-name {
  font-family: "Sarabun", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;

  text-decoration: underline;
  color: #333;
}

p {
  font-family: "Sarabun", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

.under-sub-name {
  color: #333;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.big-text {
  font-size: 3.4rem;
  font-weight: 600;
}

.mid-text {
  font-size: 2.4rem;
  font-weight: 600;
}

.text {
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
  border-bottom: 2px solid #666;
}

.methods {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.icon {
  font-size: 3.2rem;
}

.icon-text {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1.6rem;
}

.designs {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin-top: 2rem;
}

.design {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.lists {
  margin-left: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.list {
  font-family: "Sarabun", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

.final-img {
  width: 90%;
  margin: auto auto;
}

.new-order-img {
  order: 2;
}

.final-title {
  border-bottom: none;
  font-size: 2.4rem;
  font-weight: 500;
}

.final-description {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
}

.new-order-des {
  order: 1;
}

.prototype:link,
.prototype:visited {
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
  color: #333;
  padding: 0.4rem 2.8rem;
  border-radius: 20px;
  border: 2px solid #333;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
}

.prototype:hover,
.prototype:active {
  background-color: #bef8fa;
  border: 2px solid #bef3fa;
}

.gif-vertical {
  margin: 0 auto;
  height: 60rem;
  border-radius: 2%;
}

.gif-horizontal {
  margin: 0 auto;
  width: 100%;
  border-radius: 2%;
}
/*****************************/
/* CSP*/
/*****************************/

.link:link,
.link:visited {
  color: rgb(1, 135, 135);
  transition: all 0.3s;
  text-decoration: none;
}

.link:hover,
.link:active {
  color: rgb(0, 182, 199);
}

.center {
  text-align: center;
}

.scotty {
  width: 25%;
  margin: 0 auto;
}

.testing-img {
  width: 100%;
  border-radius: 2px;
}

.primary-color {
  width: 50%;
  margin: 0 auto;
}

.secondary-color {
  width: 40%;
  margin: 0 auto;
}

/*****************************/
/* MHP*/
/*****************************/

.competitive-analysis {
  width: 100%;
  border-radius: 0.5rem;
}

.sm-competitive-analysis {
  width: 80%;
  border-radius: 2%;
}

.image-container {
  text-align: center;
}

.persona {
  width: 80%;
  /* You can adjust other styles as needed */
}

.pain-points {
  width: 62%;
}

.solution {
  width: 60%;
  margin: 0 auto;
}

.wireframes {
  width: 75%;
  margin: 0.8rem auto 0 auto;
}

.task-img {
  width: 64%;
  margin: 3.2rem auto 0 auto;
}

.feedback-img {
  width: 64%;
  margin: 1.2rem auto 2rem auto;
}

/*****************************/
/* Figma */
/*****************************/

.prototypes {
  width: 90%;
}

.drop-shadow {
  filter: drop-shadow(0px 5px 7px #c9c9c9);
}

.figma-prototype {
  width: 100%;
  height: 60rem;
}

/* Nan Nan */
.big-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.reference {
  width: 100%;
}

.iteration {
  width: 90%;
}

.character-iteration {
  width: 60%;
}

.final {
  width: 80%;
}

.nannan-final {
  width: 100%;
}

.other-final {
  grid-column: 1/-1;
}

.illu {
  width: 100%;
}

.illu3 {
  margin-top: 4.2rem;
}

.prop {
  width: 40%;
}

.prop-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.screenshots {
  display: grid;
  gap: 2rem;
}

/* 3D */
#video {
  width: 80%;
  height: 48rem;
  margin: 0 auto;
}

.husky-reference {
  width: 70%;
}

.modeling {
  width: 100%;
}

.storyboard {
  width: 100%;
}

/* CGC */
.cgc-crop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  margin: 2rem auto 0 auto;
}

.cgc-gif {
  width: 100%; /* Increase width to zoom in */
  object-fit: cover; /* Crop out black edges */
  object-position: center;
  transform: scale(1.008); /* Further zoom in to remove edges */
}

/* Cooking Manual */
.crop-container {
  width: 100%; /* Set the desired width */
  overflow: hidden;
  border: 0.2rem solid #6c4290; /* Set border properties as needed */
  border-radius: 5px;
}

.cook-gif {
  width: 100%;
  margin-left: -1px;
  margin-bottom: -3px;
}

/* DS */
.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quotes-gif {
  width: 65%;
  border-radius: 8px;
}

hr.style-two {
  border: 0;
  height: 1px;
  width: 100%; /* Ensure hr spans full width */
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.video-container {
  display: flex;
  justify-content: center;
  overflow: visible; /* Optional: to hide overflow if necessary */
}

.video-cropped {
  clip-path: inset(0 0 0 1px);
  width: 110%;
  border-radius: 2%; /* Translate half of the overflow (which is 10% of the original width) */
}
