* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #222;
  margin-bottom: 3rem;
  font-family: "Kanit", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  overflow-y: hidden;
}

footer {
  font-size: 1.6rem;
  font-weight: 200;
  margin-bottom: 4rem;
}

strong {
  color: #f56e56;
}

/*****************************/
/* GENERAL REUSEABLE COMPONENTS*/
/*****************************/

.margin-top {
  margin-top: 6rem;
}

.container {
  margin: 0 auto;
  padding: 8rem 20rem 11rem 20rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  text-align: left;
}

.grid {
  display: grid;
  gap: 8rem 6rem;
}

.grid--2-cols {
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.special-grid--2-cols {
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.normal-grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--4-cols {
  display: grid;
  gap: 2rem 4rem;
  grid-template-columns: repeat(4, 1fr);
}

.grid--3-cols {
  display: grid;
  gap: 10rem 5rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 6rem 8rem 6rem;
}

.grid--2-rows {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/**********************************************/
/* HEADER */
/**********************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding: 4rem 20rem;
  position: relative;
}

.logo {
  height: 5.2rem;
}

/**********************************************/
/* NAVIGATION */
/**********************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.project-button:link,
.project-button:visited,
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 0.4rem 2rem;
  border-radius: 20px;
  border: 2px solid #333;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
  text-align: center;
}

.project-button:hover,
.project-button:active,
.main-nav-link:hover,
.main-nav-link:active {
  background-color: #bef8fa;
  border: 2px solid #bef3fa;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
  padding-top: 0.6rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

/**********************************************/
/* HERO SECTION */
/**********************************************/

.section-hero {
  padding: 16rem 0 0 0;
}

.hero {
  max-width: 90rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 0 auto;
  gap: 9.6rem;
  padding: 0 10rem;
}

.hero-text {
  font-size: 2.2rem;
  margin-bottom: 5.2rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}

/**********************************************/
/* WROK LIST SECTION */
/**********************************************/

.imgBox {
  /* now a container for the image */
  display: inline-block; /* shrink wrap to image */
  overflow: hidden; /* hide the excess */
}

.imgBox img {
  display: block; /* no whitespace */
  transition: 0.3s ease-in-out;
}

.imgBox:hover img {
  transform: scale(1.06);
}

.thumbnail {
  width: 100%;
}

.title {
  font-size: 2.4rem;
  text-align: left;
  font-weight: 500;
}

.tag {
  font-size: 1.7rem;
  font-family: "Sarabun", sans-serif;
  text-align: left;
  font-weight: 400;
  color: #666;
  line-height: 2.4rem;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-button {
  width: 50%;
}
